a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition: all 0.3s ease;

  color: white;
}

a:hover {
  color: hsl(0, 0%, 12%);
}

form a{
  color: hsl(200, 70%, 50%);
}

form a:hover{
  color: hsl(200, 70%, 30%);
}

form a:active{
  color: hsl(200, 70%, 20%);
}